body, html {
    height: 100%;
    display: flex;
    background-color: orangered;
    justify-content: center;
    align-items: center;
    perspective: 800px;
}
#text{
    display:flex;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color:rgba(255, 68, 0, 0.531);
    opacity: 1;
    text-decoration: bold;
    transition: opacity 3s ease-out;
}
#container{
    background-color: white;
    width: auto;
    display: flex;
    position: absolute;
    padding:30px;
}
.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateCube 0s infinite linear;
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    border: white 2px solid;
    text-align: center;
}

.front { background-color:rgba(0, 255, 255);}
.back {  transform: rotateY(180deg) translateZ(100px); background-color:rgb(0, 255, 34);}
.right { transform: rotateY(90deg) translateZ(100px); background-color:rgb(255, 51, 0);}
.left { transform: rotateY(-90deg) translateZ(100px); background-color:rgb(255, 0, 212);}
.top { transform: rotateX(90deg) translateZ(100px); background-color:rgb(38, 0, 255);}
.bottom { transform: rotateX(-90deg) translateZ(100px); background-color:rgb(229, 255, 0);}
.noB{
    border:0px;
}

.oneByFour {
    position: absolute;
    width: 100%;
    border: 5px solid rgb(0, 0, 0);
    height: 100%;
    text-align: center;

}

@keyframes rotateCube {
    from { transform: rotateY(0); }
    to { transform: rotateY(360deg); }
}
