/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    width: 100%;
}

h1 {
    text-align: center;
}

.searchBar {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.filterBar {
    margin-bottom: 20px;
    width: 100%;
}

.cardSearch {
    padding: 10px;
    font-size: 16px;
    width: 250px;
}

.searchBtn {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.resultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.cardImg {
    max-width: 220px;
}

.cardResult {
    text-align: center;
    width: auto;
}

.backBtn {
    display: none;
}